<ng-template *ngIf="bookedNotClicked then form1 else form2">
</ng-template>

<ng-template #form1>
<div class="container">
<h1>Browse Listings</h1>


<div fxFlexFill>
  <div class="example-container">
    <mat-form-field appearance="fill" style="margin: 10px;">
      <mat-label>Search by Name</mat-label>
      <input type="text" matInput placeholder="Name" [formControl]="SearchByNameControl">
      <button mat-icon-button matSuffix (click)="searchByName()">
        <mat-icon style="color: rgb(44, 42, 165);" >search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin: 10px;">
      <mat-label>Search by City</mat-label>
      <input type="text" matInput placeholder="City" [formControl]="SearchByCityControl">
      <button mat-icon-button matSuffix (click)="searchByCity()">
        <mat-icon style="color: rgb(44, 42, 165);" >search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin: 10px;">
      <mat-label>Search by Postal Code</mat-label>
      <input type="text" matInput placeholder="Postal Code" [formControl]="SearchByPostalCodeControl">
      <button mat-icon-button matSuffix (click)="searchByPostalCode()">
        <mat-icon style="color: rgb(44, 42, 165);">search</mat-icon>
      </button>
    </mat-form-field>
</div>


      <div *ngFor="let listing of listings">
        <mat-card class="example-card" style="margin: 10px; background-color:rgba(245, 247, 250, 0.993);color: rgb(218, 0, 207);">
          <!-- <mat-card-subtitle> {{ listing.listing_title }}</mat-card-subtitle> -->
          <mat-card-title>{{ listing.listing_title }}</mat-card-title>
          <mat-card-content>
            <p>City : {{ listing.city }}</p>
            <p>Street : {{ listing.street }}</p>
            <p>Price : {{ listing.price }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button style="background-color: rgb(70, 33, 202); color: white;" (click)="switchForms(listing)">BOOK</button>
          </mat-card-actions>
        </mat-card>
      </div>

  </div>
  </div>
  </ng-template>

<ng-template #form2>
  <div fxFlexFill>
      <mat-card fxFlex = "50">
        <mat-toolbar color="primary" style="border-radius: 3px;">Add a Booking</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" style="margin-top: 10px;" >
            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Booking ID" [formControl]="BookingId">
                <mat-error *ngIf="BookingId.invalid">{{getErrorMessage_Id()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Booking Start Date" [formControl]="BookingStartDate">
                <mat-error *ngIf="BookingStartDate.invalid">{{getErrorMessage_Start()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Booking End Date"  [formControl]="BookingEndDate">
                <mat-error *ngIf="BookingEndDate.invalid">{{getErrorMessage_End()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="addBooking('string')">Book</button>
        </form>
    </mat-card>
  </div>
</ng-template>